@media (max-width: 480px) {
  .cards2 {
    flex-direction: column;
    align-items: center;
  }

  .mincard {
    width: 80vw;
  }
  
}

@media (min-width: 768px) {
  .sobre {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .sobre {
    font-size: 0.9em;
    
  }
  .cards1{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .sobre {
    font-size: 1em;
  }
  .cards1{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .sobre {
    font-size: 0.9em;
  }
  .cards1{
    display:flex;
    grid-template-columns: repeat(3, 1fr);
  }
  .cards{
    width:380px;
  }
}

@media (min-width: 1920px) {
  .sobre {
    font-size: 1.1em;
  }
  .cards1{
    grid-template-columns: repeat(4, 1fr);
  }
}