* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #ccc2c2;
    font-family: roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img1 {
    max-width: 30vw;
    margin: 2.5rem 0px;
    border-radius:15px;
}
.img2{
    border-radius:8px;
    margin:2rem 0px;
}
.img3{
    max-width:90vw;
    border-radius:8px;
    margin:2rem 0px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.content {
    text-indent: 30px;
    font-size: 1.2rem;
    margin: 0px 3rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
    font-family: sans-serif;
    text-align:left;
}
.content2 {
    text-align:left;
    font-size: 1.2rem;
    margin: 0px 3rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
    font-family: sans-serif;
    text-indent:0;
}

h1 {
    font-size: 2.2rem;
    font-family: montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.178);
}

h2 {
    font-size: 1.8rem;
    margin: 2.5rem 0px;
    font-family: montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.178);
}
.space{
    margin:0 10px;
}
h3{
    margin:1rem;
    
}
.sub{
  font-size:1.3rem;
  font-weight: 600;
}

.video {
    border-radius: 15px;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.178);
    margin-top:1.2rem;
}
a {
  text-decoration:none;
  color:rgb(0, 47, 255);
}
.up{
    
}